@model IEnumerable<EtiqaAssessmentLFH.Models.userModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CDN - Contact Directory</h1>    
</div>


<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Skillset</th>
            <th>Hobby</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Mail</td>
                    <td>@user.PhoneNo</td>
                    <td>@user.Skillsets</td>
                    <td>@user.Hobby</td>
                    <td>
                        <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                        <a asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger" 
                           onclick="return confirm('Are you sure you want to delete the user: @user.Username?');">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">No record found. Please proced to Create New User</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Users" asp-action="Create">Create New User</a>

